<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='description' content="Flask website hosted on Google App Engine">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    {% block head %}
    <script src="/scripts/aliensimple.js"></script>
    <link rel="stylesheet" href="/css/aliensimple.css">
    <title>{% block title %} A Page{% endblock %}</title>
    {% endblock head %}
</head>
<body class="overlay">
<nav id="nav">
    <ul>
        <li>
            <a href="/">Home</a>
            <ul>
                <li><a href="/about.html">About</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </li>
        <li><a href="/blog.html">Blog</a></li>
        <li>
            <a href="/maintestpage.html">Tests</a>
            <ul>
                <li><a href="/">tbd</a></li>
                <li><a href="/">tbd</a></li>
            </ul>
        </li>
        <li><a href="/pictures.html">Pics</a></li>
        <li><button class='btn' onclick="divBordersOn()">divBordersOn</button></li>
        <li><button class='btn' onclick="window.location.href='/login';">login</button></li>
        <li><button class='btn' onclick="window.location.href='/logout';">logout</button></li>

    </ul>
</nav>
    <div>

        <!-- child template -->
        {% block container %}{% endblock %}
        <br><br><br>
        <!-- errors -->
        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}

        <!-- messages -->
        {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
    </div>
</body>
<footer>
    &copy; 2019 by me.
</footer>
</html>
