@import '/css/misc.css';
html {
    box-shadow: 0 0 10px;
}
* {
  box-sizing: border-box;
}
.div {
        border: solid white 1px;
        box-shadow: inset 0 0 10px 1px;
        /* box-shadow: 0 0 10px; */
}

#nav {
    position: sticky;
    /* background: linear-gradient(darkorange, #f06d06); */
    z-index: 9999;
    pointer-events: all;

}


#nav ul{
    /* background: darkorange; */
    list-style: none;
    margin: 0;
    overflow:hidden;
    /* border-bottom: 1px dotted; */
}

#nav ul li {
    color: #fff;
    /* background: darkorange; */
    display: inline-block;
    /* float: right; */
    /* padding: 1.3rem; */
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
        /* background: linear-gradient(darkorange, #f06d06); */
    box-shadow: 15px;
    font-size: 20px;
}

#nav ul li:active {
    background-color: #4CAF50;
    color: white;
}
/* Change the background color when mouse over items */
#nav ul li:hover {
    background: darkgreen;
    cursor: pointer;
}
#nav ul li ul {
    background: darkgreen;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

#nav ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

#nav ul li a:hover {
    background-color: green;
    color: white;
}

#nav ul li:hover > ul,
#nav ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

#nav ul li ul li {
    /* clear: both; */
    width: 100%;
}

body {
    background-color: black;
    background: radial-gradient(
        rgba(0,200,0,1), black 70%
    );
    height: 100%;
    min-height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    color: #66FF66;
    font-size: 11px;
    font-family: Inconsolate, monospace;
    overflow: scroll;
    text-shadow: 0 0 5px #c8c8c8;
}
body::after{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height:inherit;
    background: repeating-linear-gradient(
        0deg,
        rgba(0,0,0, 0.15),
        rgba(0,0,0, 0.15) 1px,
        transparent 1px,
        transparent 2px
        );
    /* background-attachment: fixed; */
    /* border: 1px solid green; */
}

.overlay::before {
  content : '';
  position : absolute;
  z-index: 10;
  top : 0px;
  width : 100%;
  height : 5px;
  background : #fff;
  background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(255,250,250,1) 50%,rgba(255,255,255,0.98) 51%,rgba(255,0,0,0) 100%); /* W3C */
  opacity : .1;
  animation: vline 5.25s linear infinite;
}

.overlay::after {
  box-shadow: 0 2px 6px rgba(25,25,25,0.2),
              inset 0 1px rgba(50,50,50,0.1),
              inset 0 3px rgba(50,50,50,0.05),
              inset 0 3px 8px rgba(64,64,64,0.05),
              inset 0 -5px 10px rgba(25,25,25,0.1);
}

#container {
    height:90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
/*     border: 1px solid purple; */
}
#scrollTextDiv {
    flex: 1 1 200px;
    white-space: pre;
    padding:10px;
}
#centerDiv{
    flex: 1 1 200px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding:10px;
}
#centerTopDiv {
    flex: 1 1 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    margin-bottom: 20px;
}
#centerTopLeftDiv {
    flex: 1 1 200px;
    margin-right: 20px;
    transition: transform 2s ease-in-out;
}
#glowring {
    position:relative;
    border-radius:50%;
    width: 200px;
    height: 200px;
    top: 0px;
    left: 0px;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px green,
        inset -20px 0 80px brown,
        inset 20px 0 300px green,
        inset -20px 0 300px blue,
        0 0 20px #fff,
        -10px 0 50px #f0f,
        10px 0 50px #0ff;
    /* object-fit: scale-down; */
    /* animation: grow 2s ease-in infinite; */
    visibility: hidden;
}
.shrink{
    transform: scale(0);

}
.grow{
    transform: scale(1);
}
@keyframes grow {
    from {
        transform:scale(1);
    }
    to {
        transform:scale(4.333);
    }
}
#centerTopRightDiv {
    flex: 2 1 100px;
    padding: 10px;
    min-width: 180px;
}
#centerTopRightDiv ul{
    list-style: none;
    padding: 0;
    margin:0;
}
#centerTopRightDiv ul li{
    padding-left: 16px;
}
#centerTopRightDiv ul li::before {
    content:"\25bb";
    padding-right: 8px;
}
#centerCenterDiv {
    flex: 0 1 200px;
    box-shadow: inset 0 0 10px;
    opacity: 1;
    z-index: -1;
}
#centerBottomDiv{
    flex: 1 1 200px;
    margin-top: 20px;
    box-shadow: 0 0 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right:10px;
}
#iframeDivOuter {
    flex: 1 1 200px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#iframeDiv{
	margin-bottom: 20px;
    flex: 0 1 200px;
    box-shadow: 0 0 10px 10px darkgreen;
    z-index: 1;
    overflow: hidden;
    transform: translateY(0px);
    display:block;
    /* pointer-events: auto; */
    opacity: .7;
}

#iframeDiv::after {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: 10; */
    box-shadow: inset 0 0 20px 1px darkgreen;
    border-radius: 15px;
    pointer-events: none;
}
.myFrame{
    /* position:relative; */
	/* opacity: .8; */
    z-index:-1;
}

#iframeDivCenter{
    flex:auto;
    padding: 10px;
    text-align: center;
}

.scifiBorder, #centerBottomDiv, #centerCenterDiv,
#iframeDiv, .mainImage {
  border-radius: 50px /15px;
  box-shadow: 0 0 15px;
}
.ring{
    position: absolute;
    border-radius: 50%;
    top: 15%;
    left: 40%;
    width: 50px;
    height: 50px;
    z-index: 2;
    font-size: 18;
    animation: pulse 4s ease-out infinite;
}
.ring2 {
        animation-delay: 1s;
        top:33%;
        left:20%;
}
.ring3 {
        animation-delay: 2s;
        top:13%;
        left:60%;
}
.ring4 {
        animation-delay: 3s;
        top:63%;
        left:60%;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 10 20px rgba(255, 20, 20, 1);
        transform: scale(0);
    }
    20% {
        box-shadow: 0 0 40px 15px rgba(255, 20, 20, .2);
    }
    40% {
        box-shadow: 0 0 10px 35px rgba(255, 184, 184, .4);
    }
    60% {
        box-shadow: 0 0 40px 15px rgba(255, 20, 20, .6);
    }
    80% {
        box-shadow: 0 0 40px 15px rgba(255, 20, 20, .4);
    }
    100% {
        box-shadow: 0 0 60px 1px rgba(255, 184,184, 0);
        transform: scale(1);
    }
}
.vertLine {
    position:absolute;
/*     bottom:0; */
    left:0;
    border-left: 1px solid red;
    animation: moveVline 3s linear alternate infinite;
    z-index: 100;
}
.horLine {
    position:absolute;
    top:0;
/*     left:0; */
    border-bottom: 1px solid red;
    animation: moveHline 3s linear alternate infinite;
    z-index: 100;
}
@keyframes moveVline {
    0% {
      height:100%;
  }
    20% {
      left:52%;
  }
    40% {
      left:35%;
  }
  60% {
      left:75%;
  }
    100% {
      left:75%;
      height:100%;
  }
}
@keyframes moveHline {
    0% {
      width:100%;
  }
    20% {
      top:30%;
  }
    40% {
      top:45%;
  }
  60% {
      top:25%;
  }
    100% {
      top:77%;
      width:100%;
  }
}
.spantest {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 7%;
    width: 100px;
    height: 100px;
    z-index: 2;
    font-size: 28;
    animation: blink 1s infinite;
    white-space: nowrap;
    color:red;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgreen;
}

@keyframes vline {
  0%   { top: 0px;}
  100% { top: 100%;}
}
.shakeit{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
footer {
    /* border-bottom: 1px solid green; */
    box-shadow: 0 0 10px;
}

.mainImage {
    width: 480px;
    height: 360px;
    /* border-radius: 15px; */


}
