@import '/css/misc.css';
html {
    height: 100%;
    position:relative;
}
#nav {
    position: sticky;
    /* background: linear-gradient(darkorange, #f06d06); */
    z-index: 1;
}


#nav ul{
    /* background: darkorange; */
    list-style: none;
    margin: 0;
    overflow:visible;
}

#nav ul li {
    color: #fff;
    /* background: darkorange; */
    display: inline-block;
    /* float: right; */
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
        /* background: linear-gradient(darkorange, #f06d06); */

}

#nav ul li:active {
    background-color: #4CAF50;
    color: white;
}
/* Change the background color when mouse over items */
#nav ul li:hover {
    background: darkgreen;
    cursor: pointer;
}
#nav ul li ul {
    background: darkgreen;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

#nav ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

#nav ul li a:hover {
    background-color: #green;
    color: white;
}

#nav ul li:hover > ul,
#nav ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

#nav ul li ul li {
    clear: both;
    width: 100%;
}

body {
    background-color: black;
    background: radial-gradient(
        rgba(0,200,0,1), black 70%
    );
    height: 100%;
    /* color:#24F718; */
    color: #66FF66;
    font: 1.3rem Inconsolate, monospace;
    text-shadow: 0 0 5px #c8c8c8;
    /* background-attachment: fixed; */
}
body::after{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height:100%;;
    background: repeating-linear-gradient(
        0deg,
        rgba(0,0,0, 0.15),
        rgba(0,0,0, 0.15) 1px,
        transparent 1px,
        transparent 2px
        );
    /* background-attachment: fixed; */
}
.body1{
    background-color: black;
    background: radial-gradient(
        rgba(0,200,0,1), black 70%
    );
    height: 100vh;
    /* color:#24F718; */
    color: #66FF66;
    font: 1.3rem Inconsolate, monospace;
    text-shadow: 0 0 5px #c8c8c8;
    background-attachment: fixed;
}
.body1::after {
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height:inherit;
    background: repeating-linear-gradient(
        0deg,
        rgba(0,0,0, 0.15),
        rgba(0,0,0, 0.15) 1px,
        transparent 1px,
        transparent 2px
        );
}
.overlay:before {
  content : '';
  position : absolute;
  z-index: 1;
  top : 0px;
  width : 100%;
  height : 5px;
  background : #fff;
  background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(255,250,250,1) 50%,rgba(255,255,255,0.98) 51%,rgba(255,0,0,0) 100%); /* W3C */
  opacity : .1;
  animation: vline 5.25s linear infinite;
}

.overlay:after {
  // ... positioning
  box-shadow: 0 2px 6px rgba(25,25,25,0.2),
              inset 0 1px rgba(50,50,50,0.1),
              inset 0 3px rgba(50,50,50,0.05),
              inset 0 3px 8px rgba(64,64,64,0.05),
              inset 0 -5px 10px rgba(25,25,25,0.1);
}
.bodyNoise {
    background-image: url('imgNoise');
}
::selection {
    background: #0080FF;
    text-shadow: none;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scroll-text-up {
    from {bottom: 0px}
}

@keyframes typing {
    from { width: 100%; }
    to { width: 0; }
}
@keyframes blinking {
    from, to { border-color: transparent; }
    50% { border-color: green; }
}
/* .overlay {
  // ... positioning
  z-index: 0;
} */



@keyframes vline {
  0%   { top: 0px;}
  100% { top: 100%;}
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgreen;
}
.div {
        border: solid white 2px;
}
#container {
    /* position: relative; */
    width:100%;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    /* z-index: 9; */
    justify-content: flex-start;
    /* align-items: flex-start; */
}

#scrollTextDiv {
    position:relative;
    font-size: 11px;
    white-space: pre;
    word-break: keep-all;
    overflow: hidden;
    /* margin: auto; */
    flex-grow: 1;
    order:0;
}
#centerDiv{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    flex-grow: 2;
    order:1;
}

#iframeDivOuter {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    flex-grow: 2;
    order:2;
}

#iframeDiv{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 10%;
}



#iframeDiv iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: 1;
}

.hide {
    /* display:none; handles space */
    visibility: hidden; /* only handles visibility */
}
.see {
    visibility: visible;
}
/* .wrapper {
    position: absolute;
    border-radius:50%;
    width: 300px;
    height: 300px;
    top: 50%;
    // transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
} */
#glowring {
    position: relative;
        visibility: hidden;
    border-radius:50%;
    width: 200px;
    height: 200px;
    top: 20%;
    left: 20%;
    /* left: 100px; */
    /* right: 0; */
    /* ransform: translateY(-50%); */
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px green,
        inset -20px 0 80px brown,
        inset 20px 0 300px green,
        inset -20px 0 300px brown,
        0 0 20px #fff,
        -10px 0 50px #f0f,
        10px 0 50px #0ff;
}
centerBottomDiv{
    position: relative;
    z-index: 4;
    font-size: 11;
    clear:both;
}

/* #glowring:before,
#glowring:after,#glowSpan{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    border-radius: 50%;
    box-shadow: 0 0 15px green;
    animation: glow-grow 2s ease-out infinite;
    /* z-index: 1; */
/* } */
/* #glowring:after {
    animation-delay: .66s;
}  */

/* #glowSpan {
    animation-delay: 1.33s;
} */

.ring{
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 2;
    animation: pulse 4s ease-out infinite;
    /* animation: glow-grow 2s ease-out infinite; */
}
.ring2 {
        animation-delay: 1s;
}
.ring3 {
        animation-delay: 2s;
}
.ring4 {
        animation-delay: 3s;
}

@keyframes glow-grow {
  0% {
    opacity: 0;
    transform: scale(.1);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2,1.2);
    opacity: 0;
  }
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 20px rgba(255, 20, 20, 1);
        transform: scale(0);
        opacity: 0;
    }

    25% {
        box-shadow: 0 0 0 35px rgba(255, 184, 184, .66);
        opacity: 1;
    }

    50% {
        box-shadow: 0 0 0 15px rgba(255, 20, 20, .33);
    }

    100% {
        box-shadow: 0 0 0 1px rgba(255, 184,184, 0);
        transform: scale(1);
    }
}
/* bbody:hover { */
.shakeit{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
