{% extends "base.html" %}
{% block title %} Certification {% endblock title %}
{% block head %}
<script src="{{ url_for('static', filename='scripts/aliensimple.js')}}"></script>
<script src="{{ url_for('static', filename='scripts/dragndrop.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/aliensimple.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dragndrop.css')}}">
{% endblock head %}
{% block container %}
<div>
    <div>
        <div class="dropdown">
            <button onclick="clickHide()" class="dropbtn">TOPICS</button>
            <div id="myDropdown" class="dropdown-content"></div>
        </div>
        <div id="headerTop">
            <h1>Welcome and Have Fun Testing Yourself !!</h1>
        </div>
    </div>
    <div class="mainWorkplace">
            <div id="topicsMenu">
                <h3>Get Ready!</h3>
                <ul></ul>
            </div>
        <div id="data">
            <div id="innerData"></div>
            <table id='mainTable'>
                <thead id="thead1">
                    <tr></tr>
                </thead>
                <tbody id="tbody1"></tbody>
            </table>
        </div>
        <div id="answerDiv">
            <div id="instructions">
                <p id="instructionsP"></p>
            </div>
        </div>
    </div>
    <div id="bottom">
        <div id='catDiv'>
            <img id="mainpagecat"
                src="/media/images/cat1-tp.png"
                alt="its a fricken cat!">
        </div>
        <p id="finished"></p>
    </div>
    <div id="result"></div>
</div>
{% endblock %}
{% block script %}
<script>
    //normal startup
    $(document).ready(function() {
        mainInitScript();
    });
</script>
{% endblock %}
