{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block container %}

<div class="about">
    <h1>Why?</h1>
    <p>
        I know my html, css and javascript suck, but I'm ok with it because
        this was a learning experience and still is.
    </p>
    <p>
        This website was initially created as a way to learn how to use javascript,
        css, and html as a frontend to flask and python on the backend. One thing
        led to another and this is what I created.
    </p>
    <p>
        It has all been created piecemeal as I went, so there isn't really
        an intelligent design to the site. In the future, I may come back and
        rewrite everything.
    </p>
</div>
{% endblock %}
