{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block container %}

<div class="centering">
    <h1>Contact me?</h1>

    <h2>But I don't want to be contacted!</h2>
    <h2>...and get off my lawn!</h2>
    <hr>
    <p>But if you want contact have some quotes from... Contact!</p>
    <br>
    <p>
<p>"David Drumlin: I know you must think this is all very unfair. Maybe that's an understatement. What you don't know is I agree. I wish the world was a place where fair was the bottom line, where the kind of idealism you showed at the hearing was rewarded, not taken advantage of. Unfortunately, we don't live in that world.
Ellie Arroway: Funny, I've always believed that the world is what we make of it."</p>
<p>“The universe is a pretty big place. If it's just us, seems like an awful waste of space.”</p>
<p>“You're an interesting species. An interesting mix. You're capable of such beautiful dreams, and such horrible nightmares. You feel so lost, so cut off, so alone, only you're not. See, in all our searching, the only thing we've found that makes the emptiness bearable, is each other.”</p>
<p>“We all have a thirst for wonder. It's a deeply human quality. Science and religion are both bound up with it. What I'm saying is, you don't have to make stories up, you don't have to exaggerate. There's wonder and awe enough in the real world. Nature's a lot better at inventing wonders than we are.”</p>
<p>“At the very moment that humans discovered the scale of the universe and found that their most unconstrained fancies were in fact dwarfed by the true dimensions of even the Milky Way Galaxy, they took steps that ensured that their descendants would be unable to see the stars at all. For a million years humans had grown up with a personal daily knowledge of the vault of heaven. In the last few thousand years they began building and emigrating to the cities. In the last few decades, a major fraction of the human population has abandoned a rustic way of life. As technology developed and the cities were polluted, the nights became starless. New generations grew to maturity wholly ignorant of the sky that had transfixed their ancestors and that had stimulated the modern age of science and technology. Without even noticing, just as astronomy entered a golden age most people cut themselves off from the sky, a cosmic isolationism that ended only with the dawn of space exploration.”</p>
<p>“Anything you don't understand, you attribute to God. God for you is where you sweep away all the mysteries of the world, all the challenges to our intelligence. You simply turn your mind off and say God did it.”</p>
<p>“The major religions on the Earth contradict each other left and right. You can't all be correct. And what if all of you are wrong? It's a possibility, you know. You must care about the truth, right? Well, the way to winnow through all the differing contentions is to be skeptical. I'm not any more skeptical about your religious beliefs than I am about every new scientific idea I hear about. But in my line of work, they're called hypotheses, not inspiration and not revelation.”</p>
<p>“Our television signals leave this planet and go out into space...the signals spread out from the earth in spherical waves, a little like ripples in a pond. They travel at the speed of light, 186,000 miles a second, and essentially go on forever. The better some other civilizations receivers are, the farther away they could be and still pick up our tv signals. Even we could detect a strong tv transmission from a planet going around the nearest star.' President: 'You mean everything? You mean to say all that crap on television - the car crashes, wrestling, the porno channels, the evening news?”</p>
<p>"So what's more likely? That an all-powerful, mysterious god created the universe, and decided not to give any proof of his existence? Or, that he simply doesn't exist at all, and that we created him, so that we wouldn't have to feel so small and alone?"</p>
</div>

{% endblock %}
