{% extends "base.html" %}
{% block title %}Pictures{% endblock %}
{% block container %}

<div id='picLinks'>
    <ul id='menu'>
        <li><a href="#">2016</a>
            <ul id='sub-menu'>
                <li><a href="#" onclick="doPic();">Hawaii</a></li>
                <li><a href="#">Canada</a></li>
                <li><a href="#">SoCal</a></li>
            </ul>
        </li>
    </ul>
    <ul><li>2017</li></ul>
    <ul><li>2018</li></ul>
    <ul><li>2019</li></ul>
</div>
<div id="picViewer">
    <br>
    <------- Please make a selection.
    <!-- <img src='/media/images/slideshow/640x480-shore.jpg' alt='640x480-shore.jpg'> -->
</div>

{% endblock %}
{% block script %}
<script>
function doPic(){
    // var img = document.createElement('IMG');
    // img.src = '/media/images/slideshow/640x480-shore.jpg';
    // $('#picViewer').html(img);
    $('#picViewer').html("<img src= '/media/images/slideshow/640x480-shore.jpg'>");
}
function divBordersOn(){
    $('div').toggleClass("div");
}
// $("menu li ul").hide();
$("#menu > li > a").click(function () {
    // console.log('click');
    $('#sub-menu').slideToggle();
    // e.preventDefault();
// e.stopPropagation();
});
</script>
{% endblock %}
