{% extends "base.html" %}
{% block title %}Pictures{% endblock %}
{% block container %}

<div id='picLinks'>
    <ul id='menu' class='menu1'>
    {% for key,values in pic_dict.items() %}
        <li><a href="#">{{key}}</a>
            <ul id='sub-menu' class='sub-menu1'>
        {% for value in values %}
                <li><a href="#" onclick="doPic();">{{value}}</a></li>
        {% endfor %}
            </ul>
    {% endfor %}
    </ul>
</div>
<div id="picViewer">
    <br>
    <------- Please make a selection.
    <!-- //<img src='/media/images/slideshow/640x480-shore.jpg' alt='640x480-shore.jpg'> -->
</div>

{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}
